
        table{
            width: 50px;
            margin: auto;
        }
        h1,h2{
            text-align: center;
            color: coral;
        }
        input,select,textarea{
            border-radius: 5px;
            padding: 10px;
            background-color: blanchedalmond;
            width: 250px;
        }
        button{
            border-radius: 5px;
            padding: 10px;
            width:100px ;
            background-color:brown;
        }
        .origen{
            background-color:cadetblue;
            color:chartreuse

        }
        